@import "../../variables/Size.scss" , "../../variables/Colors.scss";

.container {
  margin: 5px;
  padding: 3px;
  width: $width-elem;
  height: $height-elem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 7px;
  flex-direction: column;
  text-align: start;
  color: $text-dark-color;
}
