@import "../../variables/Colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  padding: 15px;
  padding-left: 60px;
  padding-right: 60px;
  position: fixed;
  transition: background-color 200ms linear;
}

.color {
  background: white;
}

.logo {
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 24px;
}
.logo span {
  padding-left: 10px;
}
.logo img {
  width: 30px;
}

.headline2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.menu {
  font-size: 16px;
}

.menu a {
  padding-left: 15px;
}

.icons {
  font-size: 25px;
  color: #2d50ec;
  padding-right: 5px;
}
.icons2 {
  color: #2d50ec;
  font-size: 35px;
  margin-right: 10px;
}
.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 140px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  color: black;
}
.bstuCuratorIs {
  width: 100%;
  height: 768px;
  padding-left: 50px;
  background-image: url("../../assets/images/backgrounds/bstucircle.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top right;
}
.welcomeTo {
  border-left: 10px solid #2d50ec;
  width: 50%;
  font-size: 128px;
  padding-left: 50px;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-weight: lighter;
}
.helperText {
  font-size: 36px;
  width: 50%;
}
.footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid;
  align-items: center;
  color: black;
  padding: 25px;
  width: 100%;
}
.mainDescription {
  width: 100%;
  text-align: center;
  font-size: 22px;
  margin-bottom: 50px;
}
.description {
  text-align: center;
  color: #777777;
  width: 300px;
  margin-bottom: 20px;
}
.whenever {
  width: 100%;
  height: 300px;
  background: #aab8f7;
  margin-bottom: 100px;
}
.everLine {
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  font-size: 32px;
  font-weight: bold;
}
.everLine2 {
  width: 100%;
  height: 70px;
  text-align: center;
  padding-top: 20px;
  font-size: 30px;
}
.whyWe {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}
.reasons {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.reason {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fcfcfc;
  margin: 20px;
}
.lastReason {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #fcfcfc;
  margin: 20px;
}
.threePoints {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
}
.point {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
}
.pointHeadline {
  font-weight: bold;
  font-size: 22px;
}
.pointDescription {
  color: white;
}
.whatCanWeDo {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px;
}
.bar {
  width: 50%;
  background-image: url("../../assets/images/backgrounds/welcomePage.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
.whatCanList {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding-left: 80px;
}
.screensOfApp {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin-bottom: 100px;
}
.firstScreens {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}
.secondScreens {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 50%;
}
.screens {
  max-width: 100%;
  align-self: center;
  padding-bottom: 20px;
}

li {
  list-style-type: none;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
ul {
  margin-left: 0;
  padding-left: 0;
}
