.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.userName {
  margin-top: 10px;
}

.loginForm {
  width: 300px;
}
.loginButton {
  width: 100%;
}
.stepsContent {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  justify-content: center;
}
.stepsAction {
  text-align: center;
}

.errorMessage {
  text-align: center;
  color: red;
}

@media screen and (max-width: 700px) {
}
