//size of image 404
$img-width: 500px;
$img-height: 200px;
//midle text
$text-size: 20px;
$text-color: Black;
$text-width: 50%;
$text-font:Arial, Helvetica, sans-serif;
//buttons
$but-width: 90px;
$but-height: 30px;
$but-radius:7px;
$but-color: #1e3bba;
$but-bg: #1e3bba;

.container
{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: center;
}

.img
{
    width: $img-width;
    height: $img-height;
    align-self: center;
}

.text
{
    font-size: $text-size;
    color: $text-color;
    width: $text-width;
    align-self: center;
    text-align: justify;
    font-family: $text-font;
}

.buttons
{
    align-self: center;
    width:50%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.button
{
    width: $but-width;
    height: $but-height;
    border-radius: $but-radius;
    text-align: center;
    color : $but-color;
}

.button:hover
{
    background: $but-bg;
    color:white;
}