.steps{
  padding-bottom: 20px;
}

.stepsContent {
  margin-top: 50px;
}

.stepsAction {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}

.collapsePanel
>div{
    border-bottom: none !important;
    >div:first-of-type{
        display: none;
    }
}

@media (max-width: 700px) {
  .steps {
    display: none;
  }
}
