.container {
  width: 100%;
  padding: 20px;
  overflow: auto;
}

@media (max-width: 768px){
  .container {
    overflow: visible;
  }
  .mobile{
    display: none;
  }
  .margin{
    margin-bottom: 20px;
  }
}
