$bar-width: 40%;
$main-width: 60%;
$logo-width: 200px;

.container {
  display: flex;
  width: 100%;
  height: 100%;
}
.bar {
  background-image: url("../../assets/images/backgrounds/login.jpg");
  background-position: center;
  background-size: cover;
  height: 100%;
  width: $bar-width;
}
.darkBackground {
  background: rgba(30, 37, 54, 0.6);
  padding: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}
.header {
  color: white;
  font-weight: bold;
}
.main {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: $main-width;
}
.pageName {
  margin: 0;
  font-size: 20px;
  span {
    color: lightgray;
  }
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.logo {
  width: $logo-width;
}
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .bar {
    width: 100%;
    height: 20%;
  }
  .main {
    width: 100%;
  }
}