@import "../../variables/Size.scss" , "../../variables/Colors.scss";

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: $width-menu;
  height: 100%;
  background: $bg-menu;
}

.upMenu,
.middleMenu,
.downMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: $width-logo;
  margin-top: $margin-top;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $hover-width;
  height: $hover-height;
  border-radius: 7px;
  color: white;
  margin-bottom: 20px;
}

.button:hover,
.buttonActive {
  background: rgba(30, 59, 186, 0.79);
}

.icon {
  height: $height-icon !important;
  width: $width-icon !important;
  color: $color-icons;
}

.Link_to_menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.avatar,
.bell {
  margin-bottom: $margin-bottom !important;
}

.bell {
  height: 16px !important;
  width: 16px !important;
  color: $color-icons;
}

@media (max-width: 768px){
  .container {
    flex-direction: row;
    width: 100%;
    height: $width-menu;
  }

  .upMenu,
  .middleMenu,
  .downMenu {
  flex-direction: row;
  }

.button {
  margin: 20px;
  }

.avatar,
.bell {
  margin: 5px !important;
  }

.logo {
  margin-bottom: 20px;
  margin-left: 5px;
  }
}

@media (max-width: 550px){
  .button {
    margin: 10px;
    }
}

@media (max-width: 440px){
  .button {
    margin: 0;
    }
}