@import "../../index.scss";

.container {
  width: $con-width;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 4px 0px 4px 0px #e8e9ec;
  background-color: white;
}
.head {
  width: 100%;
  padding: 20px;
  padding-bottom: 0px;
}
.content {
  overflow: auto;
  width: 100%;
  padding: 20px;
  padding-top: 0px;
}

.headerRow {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header {
  font-size: 24px;
}

.input {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 7px;
}
