@import "../../variables/Size.scss" , "../../variables/Colors.scss";

.container {
  margin: 5px;
  padding: 3px;
  width: $width-elem;
  height: $height-elem;
  display: flex;
  align-items: center;
  border-radius: 7px;
  flex-direction: column;
  text-align: start;
  color: $text-dark-color;
}

.fblock {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sblock {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expl {
  font-size: 10px;
}

.temp {
  display: flex;
  font-size: 50px;
  font-weight: bold;
  margin-right: 15px;
}

.temp
{
  -webkit-text-stroke: 1px #D7D9D5;
}

.title {
  width: 90%;
  display: flex;
  align-items: flex-start;
}

@media screen and (min-width : 1400px)
{ 
  .temp 
  {
    display: flex;
    font-size: 65px;
    font-weight: bold;
    margin-right: 15px;
  }

  .thermometer
  {
    font-size: 20px;
  }

  .count
  {
    font-size: 25px;
  }

  .expl 
  {
    font-size: 15px;
  }
}

@media screen and (min-width : 1600px)
{   
  .temp 
  {
    display: flex;
    font-size: 100px;
    font-weight: bold;
    margin-right: 15px;
  }

  .thermometer
  {
    font-size: 30px;
  }

  .count
  {
    font-size: 30px;
  }

  .expl 
  {
    font-size: 20px;
  }
}

@media screen and (min-width : 2000px)
{   
  .temp 
  {
    display: flex;
    font-size: 150px;
    font-weight: bold;
    margin-right: 15px;
    -webkit-text-stroke: 2px #D7D9D5;
  }

  .thermometer
  {
    font-size: 45px;
  }

  .count
  {
    font-size: 35px;
  }

  .expl 
  {
    font-size: 25px;
  }
}