$font:  'Courier New', Courier, monospace;
$size-departmen: 30px;
$size-sub-departmen: 15px;

.container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    
}

.text
{
    display: flex;
    flex-direction: column;
}

.header
{
    font-size: $size-departmen;
    font-family: $font;
    font-weight: 700;
}

.subHeader
{
    font-size: $size-sub-departmen;
    font-family: $font;
    font-weight: 200;
}

.steps
{
    width: 400px;
    margin-top:30px;
}

