.cards {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.item {
  width: 100%;
  padding-top: 8px;
  padding-bottom: 8px;
}

.month {
  font-weight: 700;
  text-align: center;
  width: 100%;
  height: 40px;
  padding-bottom: 10px;
  text-transform: uppercase;
}
