.container {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
}

.timeLine {
  display: flex;
  background-color: silver;
  width: 100%;
  height: 50px;
  border-radius: 100px;
}

.timeMarks {
  display: flex;
  height: inherit;
  width: inherit;
  align-items: center;
}

.icon {
  color: white;
  height: 20px !important;
  width: 20px !important;
}

.icon:hover {
  color: white;
  height: 22px !important;
  width: 22px !important;
}

.activeIcon {
  color: green;
  height: 70px !important;
  width: 70px !important;
}
