.container {
  display: flex;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.progress {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  height: 50px;
  border-radius: 100px;
  background: silver;
}
.timeLine {
  position: absolute;
  background-color: limegreen;
  transition: width;
  transition-duration: 3s;
  height: 100%;
  border-radius: 100px;
}

.timeMarks {
  position: relative;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}

.icon {
  color: white;
  height: 20px !important;
  width: 20px !important;
}

.icon:hover {
  color: white;
  height: 21px !important;
  width: 21px !important;
}

.activeIcon {
  color: green;
  height: 70px !important;
  width: 70px !important;
}
