//averageMap
$text-dark-color: #65696c;

//GroupsMenu
$gray-color: #65696c;

//Page#404
$text-color: Black;
$oops-color: white;

//healthMap
$text-dark-color: #65696c;

//healthTemp
$text-dark-color: #65696c;

//Menu
$bg-menu: #2d50ec;
$color-icons: white;

//groupItem
$text-light-color: #d4d5d6;
$text-dark-color: #65696c;
$primary-color: #2d50ec;

//eventCard
$cont-bg:#F0EEEE;

//studentTable
$gray-color:  #65696C;