//login and register
$bar-width: 40%;
$main-width: 60%;
$logo-width: 200px;
$logo-width-mobile: 130px;

//averageMap
$width-elem: 400px;
$height-elem: 220px;

//GroupsMenu
$con-width: 350px;
$all-field: 200px;

//Page#404
$text-size: 30px;
$text-width: 430px;
$text-weight: 700;
$text-top: 150px;
$text-top-mobile: 60px;
$size404: 40px;
$oops-size: 150px;
$margin-to-buttons: 50px;

//healthMap
$width-elem: 400px;
$height-elem: 220px;

//pageHead
$size-departmen: 30px;
$size-sub-departmen: 15px;

//healthTemp
$width-elem: 210px;
$height-elem: 210px;

//Menu
$width-menu: 55px;
$width-icon: 20px;
$height-icon: 20px;
$width-logo: 35px;
$margin-top: 20px;
$hover-width: 40px;
$hover-height: 40px;
$margin-bottom: 15px;

//groupItem
$width-elem: 95%;


//eventCard
$cont-width:250px;
$cont-height: 40px;
$cont-radius: 7px;
$cont-padding: 7px;
$cont-line-height: 1.1;
$font-size: 11px;

//studentTable
$cardCompwidth: 916px;
$cardCompheight: 389px;
$all-field: 200px;

//avergePoint
$conts-width: 100%;
$conts-padding: 10px;
$num-weight: 700;
$num-size: 50px;
$slash-height: 150px;
$slash-rotate: 45deg;