  .red{
    color: red;
  }

  .correction{
    width: 100%;
  }
  
  .column{
    display: flex;
    flex-direction: column;
    div[class="ant-slider"]{
      width: 100%;
    }
  }
  .row{
    display: flex;
    flex-direction: row;
    h2{
      margin-left: 30px;
      margin-right: 50px;
    }
    div[class="ant-slider"]{
      width: 300px;
    }
  }

  .flex{
    display: flex;
    flex-direction: row;
  }

  .select{
    div>div{
    border-radius: 15px 15px 15px 15px;
    }
  }

  .phone{
    padding: 5px;
    font-size: 18px;
    line-height: 20px;

    color: #000000;
  }

  .padding{
    padding-right:25px;
    padding-bottom:25px;
  }
  
  .container{
    width:400px;
    padding-right:25px;
    padding-bottom:25px;
  }

  .text{
    line-height: 20px;
    height: 90px;
    width: 100%;
  }

  .dynamicText{
    width:350px;
  }

  .otherBox{
    margin-left:50px;
  }

  .border{
    border-radius: 15px 15px 15px 15px;
  }

  .footerButton{
    position: absolute;
    right: 20px;
    bottom: 10px;
    button{
      border-radius: 15px 15px 15px 15px;
    }
  }

  .primary{
    background: #2D50EC !important;
      span{
        color: white;
      }
  }

  div[class="ant-row ant-form-item"]{
    width:100%;
  }

  div[class="ant-modal"]{
    width:850px;
  }

  div[class="steps-content"]{
    padding-top: 25px;
  }

  div[class="ant-modal-body"]{
    height: 800px;
  }

  div[class="ant-input-number-handler-wrap"]{
    display: none;
  }

  div[class="ant-steps-item ant-steps-item-process"]{
    div[class="ant-steps-item-icon"]{
    background: #2D50EC !important;
    }
  }

  div[class="ant-select"]{
    border-radius: 15px 15px 15px 15px;
  }

  div[class="ant-modal-content"]{
    width:850px;
    border-radius: 15px 15px 15px 15px;
  }

  div[class="ant-modal-header"]{
    background: #2D50EC;
    border-radius: 15px 15px 0px 0px;
  }

  div[class="ant-modal-title"]{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 26px;

    color: #FFFDFD;
  }

  span[class="ant-modal-close-x"]{
    font-size: 20px;
    color: #FFFDFD;
  }

  //adaptation

@media (max-width: 850px) {
  div[class="ant-modal"]{
    width:100%;
  }
  div[class="ant-modal-content"]{
    width:100%;
  }
  .dynamicText{
    width:200px;
  }
}
@media (max-width: 750px) {
  .container{
    width: 100%;
  }
  
  .row{
    div[class="ant-slider"]{
      width:100%;
    }
    h2{
      margin-left: 0;
      margin-right: 16px;
      font-size: 16px;
    }
    h3{
      font-size: 16px;
    }
  }

  h2{
    font-size: 18x;
  }
  .dynamicText{
    width:100px;
  }
  .text{
    width: 100%;
    h3{
      width: 80%;
    }
  }
}

@media (max-width: 610px) {
  
  .flex{
    flex-direction: column;
  }
  .row{
    h2{
      font-size: 14px;
    }
    h3{
      font-size: 14px;
    }
  }

  h2{
    font-size: 18px;
  }

  .container{
    padding-right:0;
    padding-bottom:0;
  }

  .sliderBox{
   width: 100%;
   padding-right:0;
  }
}
.text{
  h3{
    width: 90% !important;
  }
}

@media (max-width: 490px) {
  .row{
    h3{
      font-size: 14px;
      width: 55%;
    }
  }
  .sliderBox{
    input{
      width:60px;
    }
  }
}

@media (max-width: 480px){
  div[class="ant-steps ant-steps-horizontal ant-steps-label-horizontal"] {
    display: flex !important;
    div[class="ant-steps-item ant-steps-item-finish"]{
      overflow: hidden !important;
      }
      div[class="ant-steps-item ant-steps-item-process"]{
        overflow: hidden !important;
      }
      div[class="ant-steps-item ant-steps-item-wait"]{
        overflow: hidden !important;
      }
      div[class="ant-steps-item-tail"]{
        display: none !important;
      }
  }
}
