.modal > div {
  border-radius: 15px;

  > button:first-of-type {
    //close button
    span {
      color: white;
    }
  }

  > div:first-of-type {
    //header
    border-radius: 15px 15px 0 0;
    background: #2d50ec;
    div {
      color: white;
      font-size: 22px;
      line-height: 26px;
    }
  }

  > div:last-of-type {
    //footer
  }

  button {
    border-radius: 15px;
  }

  input {
    //default input
    border-radius: 15px;
  }

  span {
    //select and number input
    border-radius: 15px;
    div {
      border-radius: 15px;
    }
  }

  textarea {
    border-radius: 15px;
  }
}

.collapsePanel > div {
  border-bottom: none !important;
  > div:first-of-type {
    display: none;
  }
}

.rangePicker > div {
  border-radius: 15px;
  td {
    div {
      border-radius: 15px;
    }
    a {
      border-radius: 15px;
    }
  }
}

.collapse {
  border-radius: 15px;
}

.select {
  border-radius: 15px;
  overflow: hidden;
}

.organisations {
  width: 70px;
}

.required::before{
  display: inline-block;
  margin-right: 4px;
  color: #f5222d;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: '*';
} 