// conteiner 
$cont-width: 200px;
$cont-height: 200px;
$cont-padding: 10px;
$cont-radius: 20px;
// title 
$tit-size: 20px;
// font num
$num-weight: 900;
$num-size: 35px;
// slash
$slash-height: 100px;
$slash-rotate: 45deg;

.conteiner, .title, .number2
{
    display: flex;
    flex-direction: column;  
}
.conteiner
{
    padding: $cont-padding;
    height: $cont-height;
    width: $cont-width;
    border-radius: $cont-radius;   
    justify-content: flex-start;
    align-items: center;  
    
}

.title
{
    height: 20%;
    width: 100%;   
    justify-content: center;
    align-items: flex-start; 
    font-size: $tit-size;
}
.body
{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
    font-weight: $num-weight;  
    
}
.h 
{
    height: $slash-height;
    -webkit-transform: rotate($slash-rotate);      
    -moz-transform: rotate($slash-rotate);       
    -ms-transform: rotate($slash-rotate);        
    -o-transform: rotate($slash-rotate);
}
.number1
{
    font-size: $num-size;
    width: 30%;
    height: 90px;  
   

}
.number2
{
    font-size: $num-size;
    width: 25%;
    height: 90px;    
    justify-content: flex-end;
  
   
    

}