//login and register
$bar-width: 40%;
$main-width: 60%;
$logo-width: 200px;
$logo-width-mobile: 130px;

//averageMap
$width-elem: 400px;
$height-elem: 220px;
$text-dark-color: #65696c;

//GroupsMenu
$con-width: 350px;
$all-field: 200px;
$gray-color: #65696c;

//Page#404
$text-size: 30px;
$text-color: Black;
$text-width: 430px;
$text-weight: 700;
$text-top: 150px;
$text-top-mobile: 60px;
$size404: 40px;
$oops-size: 150px;
$oops-color: white;
$margin-to-buttons: 50px;

//healthMap
$width-elem: 400px;
$height-elem: 220px;
$text-dark-color: #65696c;

//pageHead
$size-departmen: 30px;
$size-sub-departmen: 15px;

//healthTemp
$width-elem: 210px;
$height-elem: 210px;
$text-dark-color: #65696c;

//Menu
$bg-menu: #2d50ec;
$width-menu: 55px;
//Icons_menu
$width-icon: 20px;
$height-icon: 20px;
$color-icons: white;
//logo
$width-logo: 35px;
$margin-top: 20px;
//Hover
$hover-width: 40px;
$hover-height: 40px;
//Down menu
$margin-bottom: 15px;

//groupItem
$width-elem: 95%;
$text-light-color: #d4d5d6;
$text-dark-color: #65696c;
$primary-color: #2d50ec;

//eventCard
$cont-width:250px;
$cont-height: 40px;
$cont-radius: 7px;
$cont-padding: 7px;
$cont-line-height: 1.1;
$cont-bg:#F0EEEE;
$font-size: 11px;