//All container props
$containerWidth: 100%;
$containerHeight: 50px;
$containerColor: #60aee2;

$ulWidth: 30%;

//All buttons props
$buttonsWidth: 40px;
$buttonsColor: white;

//Title props
$titleColor: white;
$titleFontSize: 20px;
$titleFontFamily: "Roboto", sans-serif;

//Find props
$findWidth: 100%;
$findHeight: 50%;
$findBg: none;

.container {
  padding: 15px;
  display: flex;
  width: $containerWidth;
  height: $containerHeight;
  background: $containerColor;
  justify-content: space-between;
  div {
    display: flex;
    align-items: center;
  }
}

.buttonHeader {
  width: $buttonsWidth !important;
  color: $buttonsColor;
}
.notifyHeader {
  width: $buttonsWidth !important;
  color: $buttonsColor;
}
.title {
  align-content: flex-end;
  font-size: $titleFontSize;
  color: $titleColor;
  font-family: $titleFontFamily;
}
.findFormHeader {
  padding: 10px;
  background: $findBg;
  border: 2px solid white;
  border-radius: 3px;
  height: $findHeight;
  width: $findWidth;
  color: $titleColor;
  font-family: $titleFontFamily;
}

@media screen and (max-width: 400px) {
  .findFormHeader {
    display: none;
  }
}
.blackBg
{
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}