.button {
  margin: 5px;
  position: relative;
  width: 40px;
  height: 40px;
  background: white;
  border-radius: 7px;
  border: none;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.4);
  transition: top 1s ease-out 0.5s;
}
.button:hover {
  top: -1px;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6);
}

.button:active {
  top: 0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
}

.button:focus {
  outline: 0;
}

.primary {
  background-color: #2d50ec;
  color: white;
}

.secondary {
  background-color: #d4d5d6;
}
